<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/auth/sign-up" method="post">
        <label>
            Username:
            <input name="username" required>
        </label>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
        <label>
            Password again:
            <input type="password" name="confirmPassword" required>
        </label>
        <button>Sign up</button>
    </form>
</body>
</html>